body {
    font-family: "Raleway", sans-serif !important;
    background: #d8eef5 !important;
    /* padding-top: 190px; */
  }

  #header {
    transition: all 0.5s;
    z-index: 997;
    background: rgba(48, 104, 171, 0.8)!important;
}

.bg-sec{
    background: #d8eef5 !important;
}
.thumbnail {
    width:150px !important;
    height: 150px !important;
    border-radius: 50%;
}

.nav-link, .navbar-brand{
    color:white !important;
    padding: 10px !important;
}

.navbar-brand{
    text-transform: uppercase;
    font-size: 1.75rem !important;
    font-weight: 800;
}

.nav-link:hover {
    border:solid 1px white;
    border-radius:25px;
}
/* h1, h2, h3 {
    font-size: 1.75em !important;
} */
.bg-first{
    background-color: white;
    /* background-image: url("/pharmstoreBg.png"); */
    color:white;
}

.ptv{
    padding-top:17vh;
}

.btn-primary {
    background-color: #3b60a9 !important;
    border-color: #3b60a9 !important;
}
#cover-page{
    width: 100%;
    /* min-height: 80vh; */
    /* background-color: #1b0528; */
    text-align: center;
    background-image: linear-gradient(
        180deg
        , #3b60a9, #008eb5);
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 25%;
        box-shadow: -2px 9px 30px grey;

}
#cover-page h1 {
    margin: 0 0 10px 0;
    font-size: 2.em;
    font-weight: 700;
    /* line-height: 56px; */
    color: #fff;
}

#cover-page h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 1.25em;
}

#cover-page .btn-login, .btn-signup {
    font-family: "Roboto", sans-serif !important;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    text-decoration: none !important;
    align-items: center;
}

.btn-login{
    color:#1b0528;
    background-color: white;
}

.btn-signup{
    color:#1b0528;
    background-color: #cecece;
}

.cover-img{
    width: 70% !important;
}

.check{
  color: #00b582 !important;
}

.xmark{
  color:red;
}

#generic_price_table{
    background-color: #ffffff;
  }

  
  /*PRICE COLOR CODE START*/
  #generic_price_table .generic_content{
    background-color: #fff;
  }
  
  #generic_price_table .generic_content .generic_head_price{
    background-color: #d8eef5;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-color: #00B582 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00B582;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    color: #ffffff;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
      color: #414141;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
      color: #414141;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
      color: #414141;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
      color: #414141;
  }
  
  #generic_price_table .generic_content .generic_feature_list ul li{  
    color: #a7a7a7;
  }
  
  #generic_price_table .generic_content .generic_feature_list ul li span{
    color: #414141;
  }
  #generic_price_table .generic_content .generic_feature_list ul li:hover{
    background-color: #E4E4E4;
    border-left: 5px solid #008EB5;
  }
  
  #generic_price_table .generic_content .generic_price_btn a{
    border: 2px solid #3167ab  ; 
      color: #3167ab  ;
  } 
  
  #generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
  #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
    border-color: #3167ab rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3167ab ;
    color: #fff;
  }
  
  #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
  #generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
    color: #fff;
  }
  
  #generic_price_table .generic_content:hover .generic_price_btn a,
  #generic_price_table .generic_content.active .generic_price_btn a{
    background-color: #3167ab ;
    color: #fff;
  } 
  #generic_price_table{
   padding: 50px 0 50px 0;
  }
  .row .table{
      padding: 28px 0;
  }
  
  /*PRICE BODY CODE START*/
  
  #generic_price_table .generic_content{
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f9fafb;
  }
  
  #generic_price_table .generic_content .generic_head_price {
    margin: 0 0 20px 0;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_head_content{
    margin: 0 0 50px 0;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
      border-style: solid;
      border-width: 90px 1411px 23px 399px;
    position: absolute;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head{
    padding-top: 40px;
    position: relative;
    z-index: 1;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
      font-family: "Raleway",sans-serif;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag{
    padding: 0 0 20px;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
    display: block;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
      display: inline-block;
      font-family: "Lato",sans-serif;
      font-size: 28px;
      font-weight: 400;
      vertical-align: middle;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
      font-family: "Lato",sans-serif;
      font-size: 60px;
      font-weight: 300;
      letter-spacing: -2px;
      line-height: 60px;
      padding: 0;
      vertical-align: middle;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
      display: inline-block;
      font-family: "Lato",sans-serif;
      font-size: 24px;
      font-weight: 400;
      vertical-align: bottom;
  }
  
  #generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
      font-family: "Lato",sans-serif;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 3px;
      vertical-align: bottom;
  }
  
  #generic_price_table .generic_content .generic_feature_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #generic_price_table .generic_content .generic_feature_list ul li{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    padding: 15px 0;
    transition: all 0.3s ease-in-out 0s;
  }
  #generic_price_table .generic_content .generic_feature_list ul li:hover{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
  
  }
  #generic_price_table .generic_content .generic_feature_list ul li .fa{
    padding: 0 10px;
  }
  #generic_price_table .generic_content .generic_price_btn{
    margin: 20px 0 32px;
  }
  
  #generic_price_table .generic_content .generic_price_btn a{
      border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
      display: inline-block;
      font-family: "Lato",sans-serif;
      font-size: 18px;
      outline: medium none;
      padding: 12px 30px;
      text-decoration: none;
      text-transform: uppercase;
  }
  
  #generic_price_table .generic_content,
  #generic_price_table .generic_content:hover,
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
  #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
  #generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
  #generic_price_table .generic_content .price,
  #generic_price_table .generic_content:hover .price,
  #generic_price_table .generic_content .generic_price_btn a,
  #generic_price_table .generic_content:hover .generic_price_btn a{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
  } 
  @media (max-width: 320px) { 

    #cover-page {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
  }
  
  @media (max-width: 767px) {
    #generic_price_table .generic_content{
      margin-bottom:75px;
    }
    #cover-page {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #generic_price_table .col-md-3{
      float:left;
      width:50%;
    }
    
    #generic_price_table .col-md-4{
      float:left;
      width:50%;
    }
    
    #generic_price_table .generic_content{
      margin-bottom:75px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  @media (min-width: 1200px) {
  }
  #generic_price_table_home{
     font-family: 'Raleway', sans-serif;
  }
  
  .text-center h1,
  .text-center h1 a{
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
  }
  .demo-pic{
    margin: 0 auto;
  }
  .demo-pic:hover{
    opacity: 0.7;
  }
  
  #generic_price_table_home ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
  }
  #generic_price_table_home li{
    float: left;
  }
  #generic_price_table_home li + li{
    margin-left: 10px;
    padding-bottom: 10px;
  }
  #generic_price_table_home li a{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0px;
  }

  #generic_price_table_home .divider{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
  }
  #generic_price_table_home .divider span{
    width: 100%;
    display: table;
    height: 2px;
    background: #ddd;
    margin: 50px auto;
    line-height: 2px;
  }
  #generic_price_table_home .itemname{
    text-align: center;
    font-size: 50px ;
    padding: 50px 0 20px ;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-decoration: none;
      font-weight: 300;
  }
  #generic_price_table_home .itemnametext{
      text-align: center;
      font-size: 20px;
      padding-top: 5px;
      text-transform: uppercase;
      display: inline-block;
  }
 
  
  .price-heading{
      text-align: center;
  }
  .price-heading h1{
    color: rgb(87, 87, 87);
    margin: 0;
    padding: 0 0 50px 0;
  }


  
  /** ================
   * Responsive
   ===================*/
   @media only screen and (min-width: 768px) and (max-width: 959px) {
    .pricing-wrapper {
      width: 768px;
    }
  
    .pricing-table {
      width: 236px;
    }
    
    .table-list li {
      font-size: 1.3em;
    }
  
   }
  
   @media only screen and (max-width: 767px) {
    .pricing-wrapper {
      width: 420px;
    }
  
    .pricing-table {
      display: block;
      float: none;
      margin: 0 0 20px 0;
      width: 100%;
    }
   }
  
  @media only screen and (max-width: 479px) {
    .pricing-wrapper {
      width: 300px;
    }
  } 

footer {
    background: #1b363e !important;
    color: white;
}