<%- include('../_partial/_header'); -%>
<section id="cover-page" class="pb-5 ptv">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-flex flex-column align-items-center pt-4 pt-lg-0 order-2 order-lg-1">
                <h1>
                    Manage everything about your Pharmacy
                </h1>
                <h2>We enable you to manage your pharmacy from receipt to dispensing of drugs, patient management, inventory management and much more...</h2>
                <div class="d-flex justify-content-center">
                    <a href="login" class="btn-login">Log In</a>
                    <a href="signup" class="btn-signup">Sign Up</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 d-flex justify-content-center align-items-center" >
                <img src="img/pharmstore.png" class="cover-img" alt="">
            </div>
        </div>
    </div>

</section>
<section class=" container p-5">
    <h2>Our Trusted Partners</h2>
    <div class="d-flex flex-wrap justify-content-center  text-white">
        <div class="p-2"><img src="img/generic.jpg" class="thumbnail" alt=""></div>
        <div class="p-2"><img src="img/flypharmacy.jpg" class="thumbnail" alt=""></div>
        <!-- <div class="p-2"><img src="generic.jpg" class="thumbnail" alt=""></div> -->
      </div>

</section>

<div id="generic_price_table">   
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--PRICE HEADING START-->
                        <div class="price-heading clearfix">
                            <h1>Our Pricing Options</h1>
                        </div>
                        <!--//PRICE HEADING END-->
                    </div>
                </div>
            </div>
            <div class="container">
                
                <!--BLOCK ROW START-->
                <div class="row">
                    <div class="col-md-4">
                    
                      <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
                            
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Free</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">₦</span>
                                        <span class="currency">0</span>
                                        <span class="cent">.00</span>
                                        <span class="month">/MONTH</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                              <ul>
                                <li><i class="fa-solid fa-check check"></i> One (1) Store Front</li>
                                <li><i class="fa-solid fa-check check"></i> one (1) user</li>
                                  <li><i class="fa-solid fa-check check"></i> Patient Management</li>
                                    <li><i class="fa-solid fa-check check"></i> Inventory Management</li>
                                    <li><i class="fa-solid fa-xmark xmark"></i> Minimal Dashboard</li>
                                    <li><i class="fa-solid fa-xmark xmark"></i> Profit / Loss Computations</li>
                                    <li><i class="fa-solid fa-xmark xmark"></i> Daily Reporting</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <a class="" href="signup">Sign up</a>
                            </div>
                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>
                    
                    <div class="col-md-4">
                    
                      <!--PRICE CONTENT START-->
                        <div class="generic_content active clearfix">
                            
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">₦</span>
                                        <span class="currency">2000</span>
                                        <span class="cent">.00</span>
                                        <span class="month">/MONTH</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                  <li><i class="fa-solid fa-check check"></i> One (1) Store Front</li>
                                  <li><i class="fa-solid fa-check check"></i> Two users</li>
                                    <li><i class="fa-solid fa-check check"></i> Patient Management</li>
                                      <li><i class="fa-solid fa-check check"></i> Inventory Management</li>
                                      <li><i class="fa-solid fa-check check"></i> Minimal Dashboard</li>
                                      <li><i class="fa-solid fa-xmark xmark"></i> Profit / Loss Computations</li>
                                      <li><i class="fa-solid fa-xmark xmark"></i> Daily Reporting</li>
                                  </ul>
                              </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <a class="" href="signup">Sign up</a>
                            </div>
                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>
                    <div class="col-md-4">
                    
                      <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
                            
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Multiple</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">₦</span>
                                        <span class="currency">3000</span>
                                        <span class="cent">.00</span>
                                        <span class="month">/MONTH</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                  <li><i class="fa-solid fa-check check"></i> Max Three (3) Store Front(s)</li>
                                  <li><i class="fa-solid fa-check check"></i> Max Two (2) users per Store Front</li>
                                    <li><i class="fa-solid fa-check check"></i> Patient Management</li>
                                      <li><i class="fa-solid fa-check check"></i> Inventory Management</li>
                                      <li><i class="fa-solid fa-check check"></i> Minimal Dashboard</li>
                                      <li><i class="fa-solid fa-check check"></i> Profit / Loss Computations</li>
                                      <li><i class="fa-solid fa-check check"></i> Daily Reporting</li>
                                  </ul>
                              </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <a class="" href="signup">Sign up</a>
                            </div>
                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>
                </div>  
                <!--//BLOCK ROW END-->
                
            </div>
        </section>    
    </div>
<%- include('../_partial/_footer'); -%>