<%- include('../_partial/_header'); -%>
<div class="container ptv">
  <div class="row py-5 mt-4">
      <!-- For Demo Purpose -->
      <div class="d-flex flex-column align-content-center ustify-content-center col-md-5 pr-lg-5 mb-5 mb-md-0">
          <img src="img/pharmstore.png" alt="" class="cover-img mb-3 d-none d-md-block">
          <h1>Create an Account</h1>
        
      </div>

      <!-- Registeration Form -->
      <div class="col-md-7 col-lg-6 ml-auto">
          <form action="#">
              <div class="row">

                  <!-- First Name -->
                  <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-white px-4 border-md border-right-0 h-100">
                              <i class="fas fa-user text-muted"></i>
                          </span>
                      </div>
                      <input id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control bg-white border-left-0 border-md" required>
                  </div>

                  <!-- Last Name -->
                  <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-white px-4 border-md border-right-0 h-100">
                              <i class="fa fa-user text-muted"></i>
                          </span>
                      </div>
                      <input id="lastName" type="text" name="lastname" placeholder="Last Name" class="form-control bg-white border-left-0 border-md" required>
                  </div>

                  <!-- Email Address -->
                  <div class="input-group col-lg-12 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-white px-4 border-md border-right-0 h-100">
                              <i class="fa fa-envelope text-muted"></i>
                          </span>
                      </div>
                      <input id="email" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md" required>
                  </div>

                  <!-- Email Address -->
                  <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-4 border-md border-right-0 h-100">
                            <i class="fa-solid fa-pills text-muted"></i>
                        </span>
                    </div>
                    <input id="storename" type="text" name="storename" placeholder="Pharmacy Name" class="form-control bg-white border-left-0 border-md" required>
                </div>

                  <!-- PackageType -->
                  <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-4 border-md border-right-0 h-100">
                            <i class="fa-solid fa-money-bill text-muted"></i>
                        </span>
                    </div>
                    <select id="package" name="package" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted" required>
                        <option value="Free">Free</option>
                        <option value="Standard">Standard</option>
                        <option value="Multiple">Multiple</option>
                    </select>
                </div>

                  <!-- Password -->
                  <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-white px-4 border-md border-right-0 h-100">
                              <i class="fa fa-lock text-muted"></i>
                          </span>
                      </div>
                      <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md" required>
                  </div>

                  <!-- Password Confirmation -->
                  <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-white px-4 border-md border-right-0 h-100">
                              <i class="fa fa-lock text-muted"></i>
                          </span>
                      </div>
                      <input id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md" required>
                  </div>

                  <!-- Submit Button -->
                  <div class="form-group col-lg-12 mx-auto mb-0">
                      <a href="#" class="btn btn-primary btn-block py-2">
                          <span class="font-weight-bold">Create your account</span>
                      </a>
                  </div>

                  <!-- Divider Text -->
                  <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                      <div class="border-bottom w-100 ml-5"></div>
                      <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                      <div class="border-bottom w-100 mr-5"></div>
                  </div>

                

                  <!-- Already Registered -->
                  <div class="text-center w-100">
                      <p class="text-muted font-weight-bold">Already Registered? <a href="login" class="text-primary ml-2">Login</a></p>
                  </div>

              </div>
          </form>
      </div>
  </div>
</div>

<%- include('../_partial/_footer'); -%>